# Shared
*       @nupurjai @ahalimx86 @venkateshpnv
Makefile       @nupurjai @ahalimx86 @venkateshpnv @sharanakumarpatil @saynb 
go.mod       @nupurjai @ahalimx86  @venkateshpnv @sharanakumarpatil @saynb
go.sum       @nupurjai @ahalimx86 @venkateshpnv @sharanakumarpatil @saynb
README.md       @nupurjai @ahalimx86 @venkateshpnv @sharanakumarpatil @saynb
proto/*       @nupurjai @ahalimx86 @venkateshpnv @sharanakumarpatil @saynb
docs/*       @nupurjai @ahalimx86 @venkateshpnv @sharanakumarpatil @saynb
.github/workflows/*       @nupurjai @ahalimx86  @mgaravin  @venkateshpnv @sharanakumarpatil @saynb

# Cloud Native
infraagent/*       @ahalimx86 @nupurjai @venkateshpnv
pkg/*       @ahalimx86 @nupurjai @venkateshpnv
deploy/*       @ahalimx86 @nupurjai @venkateshpnv
images/Dockerfile.agent       @ahalimx86 @nupurjai @venkateshpnv
docs/infraagent/*       @ahalimx86 @nupurjai @venkateshpnv
hack/cicd/*       @ahalimx86 @nupurjai @venkateshpnv

# EPG
images/Dockerfile.manager       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
k8s_dp/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
# scripts/ and k8s_dp/ dirs
hack/scripts/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
hack/k8s_dp/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
inframanager/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
pkg/utils/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
pkg/inframanager/*       @nupurjai @venkateshpnv @sharanakumarpatil @saynb
